/* ADD YOUR STYLES HERE */
/*horizontal spacing*/
.horizontal div{
	position: relative;
	text-align: center;
	display: inline-block;

	
}
.horizontal img{
	padding: 0px 20px;
	vertical-align: top;
}
.horizontal p{
	display: inline-block;
	vertical-align: top;
	
}
.horizontal ol{
	display: inline-block;
	vertical-align: top;

}
.horizontal ul{
	display: inline-block;
	vertical-align: top;

}
/*vertical spacing*/
.vertical div{
	
	padding: 100px 2px 100px 2px;	
	text-align: left;
}
/*horizontal list */
.sidelist li{
	list-style: none;
	float:left;
	
}
/*buttons*/
.button{
	text-align: center;
	text-decoration: none;
	border-style: none;
	color: white;
	display: inline-block;
	background-color: #e6848a;
	width: 162px;
	height: 38px;
	border-radius: 8px;
	line-height: 38px;
	vertical-align: middle;
}

#big{
	font-size: 150%;
	width: 216px;
	height: 69px;
	line-height: 69px;
}
#small{
	font-size: 75%;
	width: 35px;
	height: 25px;
	line-height: 25px;
}
/*navigation*/
nav{
	background-color: #e6848a;
	text-align: center;
	border-radius: 8px;
	width: 100%;

}
nav ul{
	padding: 0px;
}
nav li{
	list-style: none;
	display: inline-block;
	padding: 15px 5%;

	border-radius: 15px;
	background-color: #e6848a;

}
nav a {
	color: white;
	text-decoration: none;
}
nav li:hover{
	background-color: gray;
}
/*pagination*/
ol.page{
	height: 25px;
}
.page li{ 
	list-style: none;
	display: inline-block;
	text-decoration: none;
	padding: 0px 10px;

}


.page a{
	display: inline-block;
	text-align: center;
	width: 20px;
	text-decoration: none;
	color: #e6848a;
	border-bottom: 3px solid #e6848a;
}
.page span{
	color: gray;
}
a.pagenav{
	border-bottom: none;
	
}

/*comment stream*/

.comment div{
	max-width: 80%;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.avatar div{
	float:left;
	/*margin-right: 30px;*/
	
}
.content strong{
	float: left;
}
.content p{
	overflow: hidden;
	
}
.content div{
	margin: 0px 20px 0px 20px;

}
.comment time{
	color: gray;
	padding-left: 5px;
	font-size: 80%;
}

.reply{
	top-margin: 0px;
}
div.reply{
	display: inline-block;
	float:left;
	margin: 0px 100px 0px 0px;
	vertical-align: top;
	/*padding-bottom: 20px;*/
}
div.avatarcontainer{
	margin: 0px;
	display: inline-block;
	float: left;

}
.reply img{
	margin: 0px;
}
/*tabs*/
.tabtext{
	padding: 5px 5px 0px 5px;
	border: 1px solid gray;
	border-radius: 8px;
}
.tablinks li {
	list-style: none;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 8px;
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.tablinks a{
	display: inline-block;
	text-decoration: none;
	color: blue;
	font-weight: bold;
	padding: 3px;
}

#active {
	margin-bottom: -2px;
	border-bottom: 2px solid white;
}


